<nav class="navbar navbar-expand-md navbar-dark fixed-top custom-navbar" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" id="namNav">
                <img src="/images/logo.png" alt="Logo" width="59" height="38" class="d-inline-block align-text-center">
                Inovatech
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarsExample04" data-bs-theme="dark">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">Marcas</a>
                        <ul class="dropdown-menu test">
                            <li><a class="dropdown-item text-white" href="#">Xiaomi</a></li>
                            <li><a class="dropdown-item text-white" href="#">Oppo</a></li>
                            <li><a class="dropdown-item text-white" href="#">Realm</a></li>
                        </ul>
                    </li>
                </ul>
                {{!-- if central --}}
                {{#if status}} 
                    <div>
                        <li class="dropdown m-2">
                            <a class="" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/carrinho.png" width="40" height="38">
                                <span class="mx-auto translate-middle badge rounded-pill bg-danger">
                                    {{total}}
                                <span class="visually-hidden">unread messages</span>
                            </a>
                            <ul class="dropdown-menu carrinho-menu">
                                <div class="m-3 carrinho">
                                    <h3>Carrinho:</h3>
                                    <hr>
                                    {{#if carrinho}}
                                    {{#each carrinho}}
                                        <div class="carrinhoitem m-2">
                                        <li>
                                            <img src="/images/{{this.id}}.png" width="40" height="38">
                                            {{this.name}} <br> R$: {{this.valor}} - {{this.specs}}
                                        </li>
                                            <div class="qty mt-3"> 
                                                <form method="post">
                                                    <button formaction="/diminuir/{{this.id}}" formmethod="post" class="minus bg-dark">-</button>
                                                    <input type="number" class="count text-white" name="qty" value="{{quantidade}}" readonly>
                                                    <button formaction="/aumentar/{{this.id}}" formmethod="post" class="plus bg-dark">+</button>
                                                </form>
                                            </div>
                                        </div>
                                    {{/each}}
                                        <a href="/carrinho"><button class="btn btn-transparent justify-content-botton">finalizar compras</button></a>
                                    {{else}}
                                        <h5> seu carrinho está vazio...</h5>
                                    {{/if}}
                                </div>
                            </ul>
                        </li>
                    </div>
                    <div class=" dropdown">
                        <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                             Olá, {{Vnick}}
                        </a>
                        <ul class="dropdown-menu text-small shadow perfil-menu" style="mx-auto" data-popper-placement="bottom-end">
                            <li><a class="dropdown-item" href="/user/{{Vnick}}">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">logout</a></li>
                        </ul>
                    </div>

                {{!-- else central --}}
                {{else}}
                    <div>
                        <li class="nav-item dropdown m-2">
                            <a class="" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/carrinho.png" width="40" height="38">
                                <span class="mx-auto translate-middle badge rounded-pill bg-danger">
                                    {{total}}
                                <span class="visually-hidden">unread messages</span>
                            </a>
                            <ul class="dropdown-menu">
                                <div class="m-3 carrinho">
                                    <h3>Carrinho:</h3>
                                    <hr>
                                    {{#if carrinho}}
                                    {{#each carrinho}}
                                        <div class="carrinhoitem m-2">
                                        <li>
                                            <img src="/images/{{this.id}}.png" width="40" height="38">
                                            {{this.name}} <br> R$: {{this.valor}} - {{this.specs}}
                                        </li>
                                            <div class="qty mt-3"> 
                                                <form method="post">
                                                    <button formaction="/diminuir/{{this.id}}" formmethod="post" class="minus bg-dark">-</button>
                                                    <input type="number" class="count text-white" name="qty" value="{{quantidade}}" readonly>
                                                    <button formaction="/aumentar/{{this.id}}" formmethod="post" class="plus bg-dark">+</button>
                                                </form>
                                            </div>
                                        </div>
                                    {{/each}}
                                        <h5 class="m-2">Subtotal R$:{{formatCurrency totalv}}</h5>
                                        <hr>
                                        <a href="/carrinho"><button class="btn btn-transparent justify-content-botton">finalizar compras</button></a>
                                    {{else}}
                                        <h5> seu carrinho está vazio...</h5>
                                    {{/if}}
                                </div>
                            </ul>
                        </li>
                    </div>
                        <div class="m-2">
                            <a href="/cadastro">
                                <button class="btn btn-transparent">Cadastre-se</button>
                            </a>
                        </div>
                        <div class="m-2">
                            <a href="/login">
                                <button class="btn btn-transparent">Login</button>
                            </a>
                        </div>
                {{/if}}
                {{!-- fim if cental --}}
            </div>
        </div>
    </nav>